.enemyModel .body {
  position: absolute;
  top: 67%;
  left: 49%;
  z-index: 2;
}

.enemyModel .head {
  position: absolute;
  top: 53%;
  left: 45%;
  z-index: 3;
  animation: enemyHeadAnimation 2s infinite linear;
}

.enemyModel .leftArm {
  position: absolute;
  top: 68%;
  left: 42%;
  z-index: 1;
}

.enemyModel .leftLeg {
  position: absolute;
  top: 86%;
  left: 53%;
}

.enemyModel .weapon {
  position: absolute;
  top: 73%;
  left: 25%;
  z-index: 0;
}

.enemyModel .rightArm {
  position: absolute;
  top: 68%;
  left: 68%;
  z-index: 3;
}

.enemyModel .rightLeg {
  position: absolute;
  top: 87%;
  left: 62%;
}

@keyframes enemyHeadAnimation {
  from {top: 53%;}
  25% {top: 54%;}
  50% {top: 55%;}
  75% {top: 54%;}
  to {top: 53%;}
}
