.records {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  background-color: rgba(211, 211, 211, 0.8);
  z-index: 999;
}

.records-window {
  width: 20%;
  height: 70%;
  background-color: white;
  text-align: center;
}

.records-window h2 {
  font-size: 35px;
}

.records-window li {
  font-size: 20px;
  font-weight: bold;
}

.records-window button {
  width: 150px;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #ffa9b5;
}